@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {box-sizing: border-box;}

#container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

.home{

    text-decoration: none;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    font-weight: bold;
}
nav{
    background: rgba(96,6,124,0.5);
}

nav ul{
    width: 1300px;
    margin: 0 auto;
}

nav ul li {
    width: 25%;
    list-style-type: none;
    float: left;
    text-align: center;
    line-height: 40px;
}

nav ul li a{
    color: rgb(96,6,124);
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-decoration: underline;
}
nav ul li a.active{
    color: rgb(96,6,124);
    font-size: 30px;
    text-decoration: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


nav ul li a:hover{
    color: rgb(96,6,124);
    font-size:24pt;
}

h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 0;
    color: rgb(96, 6, 124);
}
.vzdelani {
   text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-spacing: 1px;
    border: 1px solid black;
}



main{
    background: url(pozadi.png);
    background-size: 100%;
    padding: 30px;
    height: 490px;
    font-family: 'Rubik', sans-serif;
}

.kontakt {
    text-align: right;
    font-size: 15px;
    margin-right: 10px;
}

.copyright {
    text-align: left;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 0;
    color: dimgray;
    position: absolute;
}

@media only screen and (max-width: 600px)  {
    nav ul li {float: none}}